@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /* font and typography */
  --body-font: "Work Sans", sans-serif;
  --reg-size: 14px;

  /* color */
  --dark-main-color: rgba(38, 48, 77, 1);
  --white: rgba(255, 255, 255);
  --second-color: rgba(79, 79, 79, 1);
  --light-color: rgba(230, 235, 250, 1);
  --black: rgba(0, 0, 0, 1);
  --danger-color: rgba(242, 89, 97, 1);

  /* utility */
  --border-m: 6px;
  --border-l: 9px;
  --border-xl: 18px;
  --trans-m: all 0.3s ease-in-out;

  --border-regular: 1px solid rgba(0, 0, 0, 0.1);
  --border-medium: 1px solid rgba(0, 0, 0, 0.2);
}

/* general */
body {
  font-family: var(--body-font);
  font-size: var(--reg-size);

  position: relative;

  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: 2.5rem !important;
}

a {
  text-decoration: none;

  color: unset;
}

ul {
  list-style: none;
}

/* button */
.big__btn {
  padding: 1.25rem 3.375rem;

  border-radius: var(--border-l);
}

.filter__btn {
  padding: 0.875rem 1.875rem !important;
  border-radius: var(--border-m) !important;
  font-weight: 500 !important;
  transition: var(--trans-m) !important;
  background-color: var(--light-color) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.filter__btn:hover {
  color: var(--black) !important;
}

.filter__btn.active {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: 500 !important;
  background-color: rgba(38, 48, 77, 0.9) !important;
}

.filter__btn.active:hover {
  color: var(--white) !important;
  background-color: var(--dark-main-color) !important;
}

.cancel__btn {
  color: #858585;
  padding: 9px 1.875rem;
  border-radius: var(--border-m);
  font-weight: 500;
  transition: var(--trans-m);
}

.cancel__btn:hover {
  color: var(--black);
  background-color: rgba(0, 0, 0, 0.3);
}

.small__btn {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(38, 48, 77, 0.94);
  padding: 9px 1.875rem;
  font-weight: 500;
  border-radius: var(--border-m);
  transition: var(--trans-m);
}

.small__btn:hover {
  color: var(--white);
  background-color: var(--dark-main-color);
}

/* utility */
.header__mini {
  height: 16rem !important;
}

.title__body__main {
  font-weight: 600;
  margin-top: 2.625rem;
  margin-bottom: 2rem;
}

.ellipsis__text {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

/* modal */
.modal__content {
  border: none;
  border-radius: var(--border-xl);
}

.modal__header {
  border: none;
  padding: 1.875rem 2.25rem 0;
}

.modal__body {
  border: none;
  padding: 1rem 2.25rem 1.5rem;
}

.modal__body h5,
.modal__body h4 {
  margin-bottom: 1.875rem;
}

.modal__footer {
  border: none;
}

.modal__form .form-label.form__label {
  font-size: 1rem;
}
.modal__form .form-control.form__control {
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.modal__form .modal__form-content {
  margin-bottom: 1.25rem;
}

.modal__form-btn {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.modal__form-btn button {
  font-size: 1rem;
}

.modal__form-btn button:first-child {
  margin-right: 2rem;
}

/* pagination */
.header__main-title__pagination a:hover {
  color: var(--black);
  text-decoration: underline;
}

/* humberger meu */
.line__humberger {
  display: flex;
  flex-direction: column;

  width: 1.75rem;
  height: 1.375rem;

  justify-content: space-between;
}

.line__menu {
  display: block;

  width: 100%;
  height: 4px;

  transition: var(--trans-m);

  border-radius: 12px !important;
  background: var(--black);
}

.main__content.minimize__sidebar .line__humberger .line-1 {
  width: 50%;
}

.main__content.minimize__sidebar .line__humberger .line-3 {
  width: 65%;
}

.card__title {
  font-size: 1.125rem;
  font-weight: 600;
}

.bg__dark-main {
  background-color: var(--dark-main-color);
}

/* form */
.form-label.form__label {
  font-weight: 600;

  margin-bottom: 9px;

  color: rgba(0, 0, 0, 0.8);
}

.form-control.form__control {
  font-size: 0.875rem;

  padding: 0.875rem 1.25rem;

  transition: var(--trans-m);

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.form-control.form__control:focus {
  border: 1px solid #1a42b8;
}

input::placeholder {
  color: rgba(79, 79, 79, 0.6) !important;
}

/* sidebar */
.sidebar__content {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;

  width: 18rem;
  height: 100%;

  cursor: pointer;
  transition: var(--trans-m);
  white-space: nowrap;

  background-color: var(--dark-main-color);

  justify-content: space-between;
}

.sidebar__content-brand {
  display: flex;

  margin: 3rem auto 4rem;

  align-items: center;
  justify-content: center;
}

.sidebar__content-brand img {
  height: 2.125rem;
  margin-right: 0.75rem;
}

.sidebar__content-brand h4 {
  font-size: 1.5rem;

  margin-bottom: 0;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.9);
}

.sidebar__content-nav {
  margin-bottom: 14rem;
  padding: 0 1.5rem;
}

.sidebar-nav__list {
  margin: 0;
  padding: 0;
}

.sidebar-nav__list > li {
  margin-bottom: 0.75rem;
}

.nav__list__link {
  display: flex;

  padding: 1rem 1.25rem;

  transition: var(--trans-m);

  border-radius: var(--border-l);

  align-items: center;
}

.nav__list__link svg,
.nav__list__link i,
.link-dropdown__sidebar svg {
  font-size: 1.125rem;

  width: 20.25px;
  height: 1.125rem;
  margin-right: 0.875rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.5);
}

.nav__list__link-dropdown > svg {
  font-size: 0.875rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.5);
}

.nav__list__link span,
.link-dropdown__sidebar span {
  font-weight: 500;

  display: block;

  transition: var(--trans-m);
  transform: translateY(1px);

  color: rgba(255, 255, 255, 0.5);
}

.nav__list__link-dropdown {
  display: flex;

  padding: 1rem 1.25rem;

  transition: var(--trans-m);

  border-radius: var(--border-l);

  align-items: center;
  justify-content: space-between;
}

.link-dropdown__sidebar {
  display: flex;

  align-items: center;
}

.sidebar-nav__list-collapse {
  padding-left: 2.125rem;
}

.sidebar-nav__list-collapse li {
  margin-bottom: 0.25rem;
}

.sidebar-nav__list-collapse li:first-child {
  margin-top: 0.5rem;
}

.nav__list__link-collapse {
  display: block;

  padding: 0.75rem 1rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-m);
}

/* hover */
.nav__list__link:hover,
.sidebar__content-footer-icon:hover svg,
.nav__list__link-dropdown:hover,
.nav__list__link-collapse:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav__list__link:hover svg,
.nav__list__link:hover i,
.sidebar__content-footer-icon svg:hover,
.sidebar__content-footer-icon i:hover,
.nav__list__link-dropdown:hover > svg,
.nav__list__link-dropdown:hover .link-dropdown__sidebar svg,
.nav__list__link-dropdown:hover .link-dropdown__sidebar span {
  color: rgba(255, 255, 255, 0.9);
}

.nav__list__link:hover span,
.nav__list__link-dropdown:hover .link-dropdown__sidebar span,
.nav__list__link-collapse:hover {
  font-weight: 600;

  color: rgba(255, 255, 255, 0.9);
}

/* active */
.nav__list__link.active,
.nav__list__link-dropdown.active {
  background-color: var(--white);
}

.nav__list__link.active svg,
.nav__list__link.active i,
.nav__list__link-dropdown.active .link-dropdown__sidebar svg,
.nav__list__link-dropdown.active > svg {
  color: var(--dark-main-color);
}

.nav__list__link.active span,
.nav__list__link-dropdown.active .link-dropdown__sidebar span {
  font-weight: 700;

  color: var(--dark-main-color);
}

.sidebar__content-footer {
  padding: 0 1.875rem 0;

  transition: var(--trans-m);
  white-space: normal;
}

.sidebar__content-footer p {
  margin-bottom: 1.5rem;

  color: rgba(255, 255, 255, 0.9);
}

.sidebar__content-footer .mb-4 {
  font-weight: 600;
}

.sidebar__content-footer-icon {
  display: none;

  margin-bottom: 4.5rem;
  padding: 0 1.25rem;

  align-items: center;
  justify-content: center;
}

.sidebar__content-footer-icon svg {
  font-size: 1.125rem;

  padding: 1rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-l);
}

/* sidebar scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: gray;
}

/* minimize sidebar */
.sidebar__content.minimize__sidebar .sidebar__content-nav .nav__list__link span,
.sidebar__content.minimize__sidebar .sidebar__content-footer,
.sidebar__content.minimize__sidebar .sidebar__content-brand a h4,
.sidebar__content.minimize__sidebar
  .sidebar__content-nav
  .sidebar-nav__list
  .nav__list__link-dropdown
  .link-dropdown__sidebar
  span,
.sidebar__content.minimize__sidebar
  .sidebar__content-nav
  .sidebar-nav__list
  .nav__list__link-dropdown
  > svg {
  display: none !important;
}

.sidebar__content.minimize__sidebar
  .sidebar__content-nav
  .sidebar-nav__list
  .nav__list__link,
.sidebar__content.minimize__sidebar
  .sidebar__content-nav
  .sidebar-nav__list
  .nav__list__link-dropdown {
  display: inline-flex;

  padding: 1rem;
}

.sidebar__content.minimize__sidebar .sidebar__content-nav .nav__list__link svg,
.sidebar__content.minimize__sidebar .sidebar__content-nav .nav__list__link i,
.sidebar__content.minimize__sidebar .sidebar__content-brand a img,
.sidebar__content.minimize__sidebar
  .sidebar__content-nav
  .sidebar-nav__list
  .nav__list__link-dropdown
  .link-dropdown__sidebar
  svg {
  margin-right: 0;
}

.sidebar__content.minimize__sidebar {
  width: 5.75rem;
}

.sidebar__content.minimize__sidebar .sidebar__content-nav {
  padding: 0 1rem;
}

.main__content.minimize__sidebar {
  width: calc(100% - 5.75rem);
}

.sidebar__content.minimize__sidebar .sidebar__content-footer-icon {
  display: flex;
}

/* footer */
footer .container-fluid.container__fluid {
  padding-top: 0;
  padding-bottom: 1.5rem;
}

.footer__caption p i,
.footer__caption p svg {
  color: var(--danger-color);
}

@media screen and (max-width: 1024px) {
  .filter__btn {
    padding: 0.5rem 0.875rem !important;
  }
}

/* tablet view */
@media screen and (max-width: 991px) {
  /* utility */
  .big__btn {
    padding: 1rem 2.75rem;
  }

  /* sidebar */
}

/* mobile view */
@media screen and (max-width: 576px) {
  /* utility */
  .big__btn {
    padding: 0.875rem 2.125rem;
  }

  /* main content */
  .main__content {
    width: calc(100% - 12.375rem) !important;
  }

  .main__content.minimize__sidebar {
    width: calc(100% - 4.75rem) !important;
  }

  /* sidebar */
  .sidebar__content {
    width: 12.375rem;
  }

  .sidebar__content.minimize__sidebar {
    width: 4.75rem;
  }

  .sidebar__content-nav,
  .sidebar__content.minimize__sidebar .sidebar__content-nav {
    padding: 0 0.5rem;
  }

  .sidebar__content-brand h4 {
    font-size: 1.125rem;

    width: 4.625rem;

    white-space: normal;
    hyphens: manual;
  }

  /* footer */
  .footer__caption {
    justify-content: center;
  }
}
