@import url(styles.css);

/* login page */
.container__login {
  width: 100%;
  height: 100vh;
  min-height: 25rem;
}

.login__content {
  display: flex;
  flex-direction: row;
}

.login__content-left {
  height: 100vh;

  background-color: var(--dark-main-color);

  flex: 0.5;
}

.login__card-content {
  width: 400px;
  height: 480px;

  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.login__content-right {
  display: flex;

  flex: 0.5;
  align-items: center;
  justify-content: center;
}

.login__content-right__body {
  max-width: 24rem;
}

.login__title {
  margin-bottom: 1.25rem !important;
}

.login__desc {
  color: rgba(0, 0, 0, 0.7);
}

.login__btn {
  font-weight: 500;

  width: 100%;
  padding: 0.875rem 3rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.8);
  border-radius: var(--radius-sm);
  background-color: rgba(38, 48, 77, 0.9);
}

.login__btn:hover {
  color: var(--white);
  background-color: var(--dark-main-color);
}

.form__login .form-control.form__control {
  padding-right: 3rem !important;
}

form .position-relative svg {
  font-size: 1rem;

  position: absolute;
  top: 3rem;
  right: 1rem;

  transition: var(--trans-m);

  color: rgba(79, 79, 79, 0.6);
}

/* tablet view */
@media screen and (max-width: 991px) {
  .login__content-right__body {
    max-width: 75%;
  }
}

/* mobile view */
@media screen and (max-width: 576px) {
  .login__content {
    flex-direction: column;

    height: 100vh;
  }

  .login__content-left {
    display: none;
  }

  .login__content-right {
    flex: 1;
  }
}
