@import url(styles-admin.css);

.title__body__user {
  font-weight: 600;
}

.title__table__add {
  display: flex;
  justify-content: space-between;
  margin-top: 2.65rem;
  margin-bottom: 2rem;
}

.btn__add {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border-radius: var(--radius-sm);
}

.btn__add svg {
  margin-right: 0.625rem;
  font-size: 0.875rem;
}

/* table */
.table__user__content tbody tr:hover {
  background-color: rgba(38, 48, 77, 0.1) !important;
}

.table__user__content tr th:first-child,
.table__user__content tr td:first-child,
.table__user__content tr th:last-child,
.table__user__content tr td:last-child {
  text-align: center;
}

.table__user__content thead tr th,
.table__user__content tbody tr td {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.table__user__content tbody tr:last-child {
  border-bottom: none;
  border-bottom-style: hidden;
}
