@import url(styles-admin.css);
/* ========== table ========== */
#datatablePenilaian tbody tr:hover {
  background-color: rgba(38, 48, 77, 0.1) !important;
}

#datatablePenilaian tr th:first-child,
#datatablePenilaian tr td:first-child,
#datatablePenilaian tr th:last-child,
#datatablePenilaian tr td:last-child,
#datatablePenilaian tr th:nth-child(2),
#datatablePenilaian tr td:nth-child(2),
#datatablePenilaian tr th:nth-child(5),
#datatablePenilaian tr td:nth-child(5),
#datatablePenilaian tr th:nth-child(6),
#datatablePenilaian tr td:nth-child(6) {
  text-align: center;
}

#datatablePenilaian thead th,
table.dataTable thead td {
  border: none !important;
}

#datatablePenilaian {
  border-collapse: separate;
  border: var(--border-sm);
  background-color: var(--white);
}

#datatablePenilaian thead tr th {
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

#datatablePenilaian thead tr th,
#datatablePenilaian tbody tr td {
  padding: 1.375rem 0 !important;
}

#datatablePenilaian tbody tr:last-child {
  border-bottom: none !important;
  border-bottom-style: hidden !important;
}

.datatable__number {
  width: 7%;
}

.datatable__tahun,
.datatable__standar {
  width: 10%;
}

.datatable__aksi {
  width: 20%;
}

.datatable__status {
  width: 15%;
}

.datatable__unit,
.datatable__kategori {
  width: 24%;
}

#datatablePenilaian thead tr th,
#datatablePenilaian tbody tr td {
  padding-right: 1.125rem !important;
  padding-left: 1.125rem !important;
}

#datatablePenilaian tr td .edit__data__induk__icon svg {
  color: rgba(21, 114, 232, 1);
}

#datatablePenilaian tr td .delete__data__induk__icon svg {
  color: var(--danger-color);
}

#datatablePenilaian_length,
#datatablePenilaian_filter {
  margin-bottom: 1.5rem;
}

#datatablePenilaian_info,
#datatablePenilaian_paginate {
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 576px) {
}
