@import url(styles-admin.css);
/* table */
.table__user__content tbody tr:hover {
  background-color: rgba(38, 48, 77, 0.1) !important;
}

.table__user__content tr th:first-child,
.table__user__content tr td:first-child,
.table__user__content tr th:last-child,
.table__user__content tr td:last-child {
  text-align: center;
}

.table__user__content thead tr th,
.table__user__content tbody tr td {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.table__user__content tbody tr:last-child {
  border-bottom: none;
  border-bottom-style: hidden;
}
